/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
address,
blockquote,
dl,
figure,
form,
iframe,
p,
pre,
table {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
embed,
iframe,
img,
object {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
[type="button"],
[type="reset"],
[type="submit"],
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none; }

[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled],
button[disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  font-size: 62.5%;
  height: -webkit-fill-available; }

body {
  color: #333;
  background-color: #213646;
  position: relative;
  font-family: "Sawarabi Gothic", sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available; }

body.hidden {
  overflow: hidden; }

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 99999999;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #213646; }
  .modal__texts {
    color: #e7eeef;
    font-size: 1.6rem;
    z-index: 1;
    position: relative;
    margin-top: 32px;
    margin-left: 24px;
    letter-spacing: 1px;
    line-height: 2.5;
    width: 80%; }
  .modal__text {
    position: relative; }
    .modal__text:first-child {
      font-size: 3.2rem; }
    @media screen and (max-width: 599px) {
      .modal__text:not(first-child) {
        font-size: clamp(1.4rem, 2vw, 1.6rem); } }
    .modal__text:nth-child(2) {
      margin-top: 15vh; }
  .modal__photo {
    width: 40vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-filter: brightness(0.5) grayscale(0.5);
            filter: brightness(0.5) grayscale(0.5); }
    @media screen and (max-width: 599px) {
      .modal__photo {
        width: 60vw; } }
  .modal__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 60px;
    margin-left: 24px;
    color: #e7eeef;
    font-size: 1.6rem; }
  .modal__button {
    position: relative;
    display: inline-block;
    padding: 12px 16px;
    border: 2px solid #e7eeef;
    color: #e7eeef;
    text-align: center;
    text-decoration: none;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .modal__button:first-child {
      color: #e7eeef;
      border: 2px solid rgba(244, 245, 167, 0.5); }
      .modal__button:first-child:before {
        background: rgba(244, 245, 167, 0.5);
        color: #e7eeef; }
    .modal__button:hover {
      color: #333; }
    .modal__button::before {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      content: "";
      background: #e7eeef;
      -webkit-transform-origin: right top;
              transform-origin: right top;
      -webkit-transform: scale(0, 1);
              transform: scale(0, 1);
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .modal__button:hover::before {
      -webkit-transform-origin: left top;
              transform-origin: left top;
      -webkit-transform: scale(1, 1);
              transform: scale(1, 1); }

.topContact_snow {
  height: 100vh;
  width: 100vw;
  position: fixed;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: rgba(244, 245, 167, 0.8); }

.loading {
  height: 100vh;
  width: 100vw;
  background-color: #213646;
  position: fixed;
  z-index: 99999;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .loading__texts {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    overflow: hidden; }
  .loading__wipe::before {
    content: "";
    position: absolute;
    display: block;
    height: 40px;
    width: 0;
    background-color: #e7eeef;
    -webkit-transition: 1s;
    transition: 1s;
    margin-top: 30px; }
  .loading__wipe.active::before {
    -webkit-animation: bgc-wipe 2s forwards;
            animation: bgc-wipe 2s forwards; }
  .loading__text {
    z-index: 100000;
    color: #e7eeef;
    font-size: 2.4rem;
    margin-top: 32px;
    opacity: 0; }
    .loading__text.active {
      -webkit-animation: text-opacity 2s forwards;
              animation: text-opacity 2s forwards; }
    @media screen and (max-width: 1024px) {
      .loading__text {
        font-size: clamp(1.6rem, 3vw, 2.4rem); } }
    @media screen and (max-width: 599px) {
      .loading__text {
        font-size: 1.6rem; } }

.volume {
  position: fixed;
  height: 50px;
  width: 50px;
  bottom: 50px;
  right: 50px;
  background-color: #e7eeef;
  border-radius: 100%;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .volume-on, .volume-off {
    height: 40px;
    width: 40px; }
  .volume-off {
    display: none; }

body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'GFS Didot','Noto Sans JP', sans-serif; }

@-webkit-keyframes fadeIn {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: block;
    opacity: 0; }
  100% {
    display: block;
    opacity: 1; } }

@-webkit-keyframes wipeIn {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
  100% {
    text-shadow: 0 0 0 white; } }

@keyframes wipeIn {
  0% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
  100% {
    text-shadow: 0 0 0 white; } }

@-webkit-keyframes bgc-wipe {
  0% {
    width: 0%;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes bgc-wipe {
  0% {
    width: 0%;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  50% {
    width: 100%;
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  100% {
    width: 100%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes text-opacity {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes text-opacity {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.footer {
  text-align: center;
  color: white;
  font-size: 1.0rem; }
  @media screen and (max-width: 1024px) {
    .footer {
      margin: 40px 0 40px; } }
  .footer__copy {
    margin: 40px 0 20px; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e7eeef;
  margin: 30px 0 0 40px; }
  .header.active {
    z-index: 9999; }
  .header.fix {
    position: fixed;
    z-index: 9999;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    height: 82px; }
  .header__logo {
    font-size: 2rem; }
  @media screen and (max-width: 599px) {
    .header__nav {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      width: 100%;
      height: 100vh;
      font-size: 24px;
      padding: 100px 0;
      background-color: #213646;
      text-align: center; } }
  .header__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 599px) {
      .header__ul {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); } }
    .header__ul-li {
      font-size: 1.6rem;
      padding: 10px; }
      .header__ul-li:not(first-child) {
        margin-right: 32px; }
        @media screen and (max-width: 599px) {
          .header__ul-li:not(first-child) {
            font-size: 2.4rem;
            margin-right: 0;
            margin-top: 64px; } }

.hamburger {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 16px;
  right: 16px;
  cursor: pointer;
  z-index: 9999;
  display: none; }
  @media screen and (max-width: 599px) {
    .hamburger {
      display: block; } }
  .hamburger-span {
    position: absolute;
    width: 22px;
    height: 3px;
    background-color: #fff;
    z-index: 999; }
    .hamburger-span:nth-child(1) {
      top: 15px;
      left: 14px; }
      .hamburger-span:nth-child(1).is_open {
        top: 23px;
        -webkit-transform: rotate(-405deg);
                transform: rotate(-405deg); }
    .hamburger-span:nth-child(2) {
      top: 23px;
      left: 14px; }
      .hamburger-span:nth-child(2).is_open {
        opacity: 0;
        -webkit-transition: 0.2s;
        transition: 0.2s; }
    .hamburger-span:nth-child(3) {
      top: 31px;
      left: 14px; }
      .hamburger-span:nth-child(3).is_open {
        top: 23px;
        -webkit-transform: rotate(405deg);
                transform: rotate(405deg); }

.active-panel {
  position: fixed;
  z-index: 999;
  height: 100vh;
  width: 100%; }

.about {
  margin-top: 60px; }
  .about-inner {
    max-width: 1024px;
    margin: 0 auto; }
    @media screen and (max-width: 1024px) {
      .about-inner {
        width: 90%; } }
  .about__catch {
    color: #e7eeef;
    position: relative; }
    .about__catch::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      background-color: #e7eeef;
      bottom: 13px;
      left: 111px; }
    .about__catch-title {
      font-size: 6rem; }
    .about__catch-sub {
      font-size: 2.4rem;
      margin-top: 32px; }
  .about__wrapper {
    display: none; }
    .about__wrapper.action {
      display: block;
      opacity: 1;
      -webkit-animation: fadeIn 0.5s ease-in 0s forwards;
              animation: fadeIn 0.5s ease-in 0s forwards; }
  .about__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media screen and (max-width: 599px) {
      .about__wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .about__texts {
    color: #e7eeef;
    font-size: 1.6rem;
    line-height: 2;
    width: 50%;
    margin-left: 32px;
    text-align: justify;
    letter-spacing: 1px;
    padding: 16px 16px 0 16px; }
    @media screen and (max-width: 1024px) {
      .about__texts {
        font-size: clamp(1.2rem, 2vw, 1.6rem); } }
    @media screen and (max-width: 599px) {
      .about__texts {
        width: 90%;
        margin-left: 0;
        margin-top: 40px; } }
  .about__text {
    margin-top: 12px; }
    .about__text:first-child:first-letter {
      font-size: 2.4rem; }
  .about__img {
    height: 320px;
    width: 400px;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }
    .about__img::after {
      content: "";
      position: absolute;
      display: block;
      height: 320px;
      width: 400px;
      border: 2px solid #e7eeef;
      top: 16px;
      left: 16px;
      z-index: 1; }
      @media screen and (max-width: 1024px) {
        .about__img::after {
          height: 50vh;
          width: 40vw; } }
      @media screen and (max-width: 599px) {
        .about__img::after {
          height: 30vh;
          width: 80vw; } }
    @media screen and (max-width: 1024px) {
      .about__img {
        height: 50vh;
        width: 40vw; } }
    @media screen and (max-width: 599px) {
      .about__img {
        height: 30vh;
        width: 80vw; } }
  .about__photo {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover; }
  .about__btn {
    margin-top: 32px;
    position: relative; }
    .about__btn::before, .about__btn::after {
      content: "";
      position: absolute;
      display: block;
      background-color: #e7eeef; }
    .about__btn::before {
      height: 2px;
      width: 40px;
      top: 14px;
      left: 100px; }
    .about__btn::after {
      height: 2px;
      width: 16px;
      top: 8px;
      left: 126px;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
  .about__span {
    display: inline-block;
    padding-bottom: 4px;
    position: relative; }
    .about__span::after {
      content: '';
      display: block;
      height: 1px;
      left: 0;
      bottom: 0;
      background-color: #e7eeef;
      position: absolute;
      -webkit-transition: .5s all;
      transition: .5s all;
      width: 0; }
    .about__span:hover::after {
      width: 100%; }

#vegas {
  height: 100%;
  width: 100%;
  z-index: 2; }

.fv {
  height: calc(100vh - 40);
  width: 100%; }
  .fv-inner {
    margin-top: 60px;
    position: relative; }
    .fv-inner::after {
      content: "";
      position: absolute;
      display: block;
      height: 3px;
      width: 60px;
      bottom: 24%;
      left: 8%;
      background-color: #e7eeef; }
  .fv__title {
    color: #e7eeef;
    font-size: min(8vw,6rem);
    position: absolute;
    top: 15%;
    left: 8%;
    z-index: 1; }
  .fv__texts {
    color: #e7eeef;
    line-height: 60px;
    font-size: 2.4rem;
    position: absolute;
    bottom: 30%;
    left: 8%;
    z-index: 1; }
  .fv__img {
    text-align: right;
    position: relative; }
    .fv__img::after {
      content: "";
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 75vw;
      height: 600px;
      margin-right: auto; }
  .fv__photo {
    width: 75vw;
    height: 600px;
    -webkit-filter: brightness(0.8) grayscale(0.3);
            filter: brightness(0.8) grayscale(0.3);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom right;
       object-position: bottom right; }

.thought {
  margin-top: 60px; }
  .thought-inner {
    max-width: 1024px;
    margin: 0 auto; }
    @media screen and (max-width: 1024px) {
      .thought-inner {
        width: 90%; } }
  .thought__catch {
    color: #e7eeef;
    position: relative;
    text-align: right; }
    .thought__catch::after {
      content: "";
      position: absolute;
      display: block;
      width: 60px;
      height: 3px;
      background-color: #e7eeef;
      bottom: 13px;
      right: 280px; }
    .thought__catch-title {
      font-size: 6rem; }
    .thought__catch-sub {
      font-size: 2.4rem;
      margin-top: 32px; }
  .thought__wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 80px auto 0; }
    @media screen and (max-width: 1024px) {
      .thought__wrapper {
        overflow: hidden; } }
  .thought__texts {
    font-size: 1.6rem;
    color: #e7eeef;
    line-height: 2;
    z-index: 2;
    letter-spacing: 1px;
    position: relative;
    top: 20px;
    width: 50%; }
    @media screen and (max-width: 1024px) {
      .thought__texts {
        font-size: clamp(1.2rem, 1.8vw, 1.6rem);
        margin-left: 12px;
        width: 70%;
        top: 0; } }
  .thought__text {
    min-height: 0%;
    margin-top: 24px;
    color: transparent;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5); }
    .thought__text:first-child:first-letter {
      font-size: 3.2rem; }
    .thought__text.active {
      -webkit-animation: wipeIn 2s forwards;
              animation: wipeIn 2s forwards; }
  .thought__box {
    position: relative;
    height: 100%; }
    @media screen and (max-width: 1024px) {
      .thought__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .thought__photo {
    height: 350px;
    width: 450px;
    z-index: 1;
    position: absolute;
    top: 100px;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover; }
    @media screen and (max-width: 1024px) {
      .thought__photo {
        width: 90vw;
        height: 45vh;
        position: static;
        margin: 0 auto;
        -o-object-position: top;
           object-position: top;
        -o-object-fit: scale-down;
           object-fit: scale-down; } }
    @media screen and (max-width: 599px) {
      .thought__photo {
        -o-object-fit: cover;
           object-fit: cover; } }
  .thought__accent {
    height: 520px;
    width: 500px;
    position: absolute;
    right: 200px;
    top: 0; }
    @media screen and (max-width: 1024px) {
      .thought__accent {
        height: 100vh;
        width: 60vw;
        right: 0;
        left: auto;
        top: 250px; } }

.study {
  margin-top: 60px; }
  .study-inner {
    max-width: 1100px;
    margin: 0 auto; }
    @media screen and (max-width: 1024px) {
      .study-inner {
        width: 90%; } }
  .study__catch {
    color: #e7eeef;
    text-align: center;
    position: relative; }
    .study__catch-title {
      font-size: 6rem; }
    .study__catch-sub {
      font-size: 2.4rem;
      margin-top: 32px; }
    .study__catch::after {
      content: "";
      display: block;
      position: absolute;
      width: 60px;
      height: 3px;
      top: 80px;
      left: 50%;
      right: 50%;
      background-color: #e7eeef;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  .study__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px 24px;
    margin-top: 32px; }
    .study__ul-li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 12px;
      background-color: #aac3c6;
      width: calc((80% - (24px * 2)) / 3);
      -webkit-transition: 0.5s;
      transition: 0.5s;
      -webkit-filter: grayscale(1);
              filter: grayscale(1);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
      -webkit-transform: translateY(-30px);
              transform: translateY(-30px);
      -webkit-transition: 1s;
      transition: 1s;
      opacity: 0; }
      .study__ul-li.active {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1; }
      @media screen and (max-width: 599px) {
        .study__ul-li {
          width: 80%;
          margin-top: 16px; } }
      .study__ul-li:hover {
        background-color: #e7eeef;
        -webkit-filter: grayscale(0);
                filter: grayscale(0); }
  .study__photo {
    height: 100px;
    width: 100px; }
  .study__text {
    font-size: 1.6rem;
    line-height: 24px;
    text-align: justify; }
    .study__text:first-child {
      margin-top: 16px; }
    @media screen and (max-width: 1024px) {
      .study__text {
        font-size: clamp(1.2rem, 2vw, 1.6rem); } }
