$breakpoints: (
  "sp": "screen and (max-width:599px )",
  "tab": "screen and (max-width:1024px )",
  "pc": "screen and (min-width: 1025px)",
  "pc-tab": "screen and (min-width: 1320px)",
);

// color
$theme-color: #213646;
$main-color: #359d9c;
$accent-color: #73c16d;
$font-color: #e7eeef;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

html {
  font-size: 62.5%;
  // height: -webkit-fill-available;
}

body {
  color: #333;
  background-color: $theme-color;
  position: relative;
  font-family: "Sawarabi Gothic", sans-serif;
  // min-height: 100vh;
  // min-height: -webkit-fill-available;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

body.hidden {
  overflow: hidden;
}